.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bakground-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.logo-contact {
  margin-right: 70px;
}