.section-title,
.team-title,
.client-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--basic-text-color);
  text-align: center;
}

.bottom {
  margin-bottom: 50px;
}