%contact {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

%align {
  display: flex;
  align-items: center;
  justify-content: center;
}

%sections {
  padding-top: 94px;
  padding-bottom: 94px;
}